.row{
    /* background-color: #333 !important; */
    /* height: 500px; */
}


.heading h2,p{
    color: rgb(196, 120, 120);
    text-align: center;
}
.heading{
    /* margin-top: 22%; */
    text-align: center;
    font-size: 40px;
    margin: 0;
    /* position: absolute; */
    top: 19%;
    /* transform: translateX(66%); */
}
.heading h2 samp{
    color: aqua;
}
.bg{
    background-image: url("../images/bgIntro.jpg");
}


  
  /* Create two equal columns that floats next to each other */

  
  /* Clear floats after the columns */

img{
    height: 400px;
}


@media screen and (max-width: 600px) {
    .column {
        float:inherit;
        padding: 10px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    img{
        height: 65%;
    }
}

@media screen and (max-width: 600px) {
    
}

/* height: 45%;
width: 80%; */